*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.clearfix{
    display: table;
    content: "";
    clear: both;
}

header{
    background-color: #3161E0;
    height: 100px;
}

footer{
    background-color: #23272A;
}

/* Debug */
.debug > header{
    width: 100%;
    height: 100px;
} 


.debug > main{
    width: 100%;
    height: 2380px;
}

.debug > footer {
    width: 100%;
    height: 300px;
    background-color: black;
}
/* /Debug */





/* Nav e logo */
.cont_nav{
    margin: auto;
    width: 70%;
    height: 100%;
    padding-top: 35px;
}

.cont_nav > img{
    float: left;
}

nav{
    float: left;
    text-align: center;
    margin: 0 16.6%;
}

nav > a{
    padding: 0 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.cont_nav > button{
    float: left;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
}
/* /Nav e logo */



/* Varie sezioni main */

/* Contenuto in comune con vari raggruppamenti */
.txt > h2, .txt3 > h2{
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
}

.txt > p, .txt3 > p{
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
    margin-top: 24px;
}
.luogo, .luogo2{
    padding: 50px 0;
}

.luogo, .luogo2, .luogo3, .luogo4{
    width: 70%;
    margin: auto;
    height: 100%;
}
.txt_posto > button, .luogo2 > button, .luogo4 > button{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.scarica > a, .scarica2 > a{
    text-decoration: none;
}

.cont-ondina, .cont-ondina2{
    position: relative;
    padding: 130px 0;
}

.cont-ondina > .ondina, .cont-ondina2 > .ondina{
    position: absolute;
    top: 0;
    left: 0;
}

.cont-ondina > .ondina2{
    top: 0;
    left: 0;
    transform: rotate(180deg);
}
button:hover{
    box-shadow: 0 8px 15px rgb(0 0 0 / 20%);
    filter: opacity(0.5);
}


/* /Contenuto in comune con vari raggruppamenti */




/* Sezione Posto Per Parlare */
.posto{
    background-image: url(./img/junbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.txt_posto{
    width: 70%;
    height: 100%;
    background-color: transparent;
    margin: auto;
    text-align: center;
    color: white;
    padding: 190px 0;
}

.txt_posto > h1{
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
}

.txt_posto > p{
    padding: 30px 300px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
}
.txt_posto > button{
    background-color: white;
}

.scarica > a{
    color: #2B2F32;
}

#apri{
    background-color: #23272A;
}

#apri > a{
    color: white;
    text-decoration: none;
}
/* /Sezione Posto Per Parlare */


/* Sezione Un luogo */
.luogo > img{
    margin: 45px 0;
    float: left;
    width: 60%;
}

.txt{
    margin: 85px 0;
    width: 40%;
    height: 100%;
    float: left;
    padding-left: 200px;
}



/* Sezione Trovarsi */

.cont{
    width: 100%;
    background-color: #F6F6F6;
   /*  background-image: url(./img/wave.svg);  */
}

.txt2{
    padding-right: 200px;
    padding-left: 10px;
}
/* /Sezione Trovarsi */


/* Sezione Tecnologia */
.cont-ondina2{
    padding-bottom: 0;
}
.luogo2{
    text-align: center;
}

.txt3 > p{
    padding: 0 195px;
}

h4{
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    padding-top: 40px;
}

.del-h4{
    background-image: url(./img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    margin: auto;
}

.scarica2{
    background-color: #8EA1E1;
    margin-top: 30px;
    margin-bottom: 50px;
}

.scarica2 > a{
    color: white;
}
/* /Sezione Tecnologia */




/* Sezione footer */

/* Liste */
.luogo3{
    padding-top: 80px;
    padding-bottom: 60px;
    border-bottom: 1px solid #8EA1E1;
}

.lista{
    width: 20%;
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 15%;
}

.lista > h2{
    font-weight: 700;
    line-height: 120%;
    font-size: 40px;
    color: #7289DA;
}

.cont_ling{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.cont_ling > img {
    width: 24px;
    height: 16px;
    margin-right: 8px;
}

.lingua{
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.social{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social > a{
    padding-right: 40px;
    color: white;
}

.lista1{
    width: 16.2%;
    float: left;
    
}

.lista1 > h5{
    color: #7289DA;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
}

.lista1 > ul{
    list-style: none;
}

li{
    margin-top: 8px;
}

li > a{
    text-decoration: none;
    color: white;
}
/* /Liste */


/* Parte Finale */
.luogo4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 0 80px 0;
}
.luogo4 > img{
}

.regi{
    background-color: #8EA1E1;
    margin-top: 30px;
    margin-bottom: 50px;
}

.regi > a{
    text-decoration: none;
    color: white;
}