*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.clearfix{
    display: table;
    content: "";
    clear: both;
}

.debug > header{
    width: 100%;
    height: 100px;
} 

header{
    background-color: #3161E0;
    height: 100px;
}

.debug > main{
    width: 100%;
    height: 2380px;
}

.debug > footer {
    width: 100%;
    height: 300px;
    background-color: black;
}

.cont_nav{
    margin: auto;
    width: 70%;
    height: 100%;
    padding-top: 35px;
}

.cont_nav > img{
    float: left;
}

nav{
    float: left;
    text-align: center;
    margin: 0 16.6%;
}

nav > a{
    padding: 0 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.cont_nav > button{
    float: left;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}
/* /Nav e logo */



/* Varie sezioni main */

/* Contenuto in comune e vari raggruppamenti */


/* Sezione Posto Per Parlare */
.posto{
    background-image: url(./img/junbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.txt_posto{
    width: 70%;
    height: 100%;
    background-color: transparent;
    margin: auto;
    text-align: center;
    color: white;
    padding: 190px 0;
}

.txt_posto > h1{
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
}

.txt_posto > p{
    padding: 30px 300px;
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
}

.txt_posto > button{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
}

.apri{
    color: white;
    background-color: #23272A;
}
/* /Sezione Posto Per Parlare */


/* Sezione Un luogo */
.luogo{
    width: 70%;
    margin: auto;
    height: 100%;
    padding: 50px 0;
}

.luogo > img{
    margin: 45px 0;
    float: left;
    width: 60%;
}

.txt{
    margin: 85px 0;
    width: 40%;
    height: 100%;
    float: left;
    padding-left: 200px;
}

.txt > h2{
    font-weight: 700;
    line-height: 120%;
    font-size: 48px;
}

.txt > p{
    font-size: clamp(16px,2vw,20px);
    line-height: 1.625;
    margin-top: 24px;
}


/* Sezione Trovarsi */

.cont{
    width: 100%;
    background-color: #F6F6F6;
}

.txt2{
    padding-right: 200px;
    padding-left: 10px;
}