*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.clearfix:hover{
    display: table;
}

.debug > header{
    width: 100%;
    height: 100px;
} 

header{
    background-color: #3161E0;
    height: 100px;
}

.debug > main{
    width: 100%;
    height: 2380px;
}

.debug > footer {
    width: 100%;
    height: 300px;
    background-color: black;
}

.cont_nav{
    margin: auto;
    width: 70%;
    height: 100%;
    padding-top: 35px;
}

.cont_nav > img{
    float: left;
}

nav{
    float: left;
    text-align: center;
    margin: 0 15%;
}

nav > a{
    padding: 0 25px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.cont_nav > button{
    float: left;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
}
/* /Nav e logo */



/* Varie sezioni main */

/* Contenuto in comune e vari raggruppamenti */


/* Sezione Posto Per Parlare */
.posto{
    /* width: 100%;
    height: 595px; */
    background-image: url(./img/junbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.txt_posto{
    width: 70%;
    height: 100%;
    background-color: transparent;
    margin: auto;
    text-align: center;
    color: white;
    padding: 190px 0;
}

.txt_posto > h1{
    
}

.txt_posto > p{
    padding: 30px 350px;
}

.txt_posto > button{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
}

.apri{
    color: white;
    background-color: #23272A;
}
/* /Sezione Posto Per Parlare */


/* Sezione Un luogo */
.luogo{
    width: 70%;
    margin: auto;
    height: 100%;
}

.luogo > img{
    margin: 45px 0;
    float: left;
    width: 50%;
    /* position: relative;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); */
}

.txt{
    margin: 65px 0;
    width: 30%;
    height: 100%;
    float: left;
  /*position: relative;
    top: 58.5%;
    left: 40%;
    transform: translate(-100%, -50%); */
}



/* Sezione Trovarsi */